<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<style>
	html{
		min-height:100%;
	}
body,html{
	margin:0;
	padding:0;
	}
	body{
	background-image: url(../images/e.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    
}
	footer{
	bottom:0;
	position: absolute;
	width: 100%;
	
}
</style>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/question/new">Ask a question</a></li>
        <li><a href="/question">All questions</a></li>
        <li><a href="">Blank</a></li>
      </ul>
    </div>
  </nav>


<h1>Dashboard</h1>
<div class="card teal  col s3 l3 user">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="../images/philipwalton.jpg">
    </div>
    <div class="card-content">
      <span  class="card-title activator white-text"><h4 >Philip Walton</h4><i class="material-icons right">more_vert</i>
		  <p>Joined Aug 2017</p><br>
		  <p>Questions Asked: 3</p><br>
		  <p>Football fan</p>
		</span>
	<button class="waves-effect waves-light orange btn">Profile<i class="material-icons right">send</i></button></div>
</div>

<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
             
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
